<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(css|js|svg|webp|png|jpg|woff|woff2)$">
        Header set Cache-Control "max-age=604800, public"   # Cache for 7 days (adjust as needed)
    </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "province\.json$">
        Header set Access-Control-Allow-Origin "https://raw.githubusercontent.com/wilfredpine/philippine-address-selector/main/ph-json/province.json"
    </FilesMatch>

    <FilesMatch "city\.json$">
        Header set Access-Control-Allow-Origin "https://raw.githubusercontent.com/wilfredpine/philippine-address-selector/main/ph-json/city.json"
    </FilesMatch>

    <FilesMatch "barangay\.json$">
        Header set Access-Control-Allow-Origin "https://raw.githubusercontent.com/wilfredpine/philippine-address-selector/main/ph-json/barangay.json"
    </FilesMatch>

    <FilesMatch "region\.json$">
        Header set Access-Control-Allow-Origin "https://raw.githubusercontent.com/wilfredpine/philippine-address-selector/main/ph-json/region.json"
    </FilesMatch>
</IfModule>
